.app__navbar {
  background-color: rgba(249, 246, 246, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 30px;
  box-shadow: 0 5px 15px 0 rgb(0, 0, 0, 0.25);
  width: 95%;
  height: 80px;
  border-radius: 13px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  z-index: 9999999;
  // background: rgba(255, 255, 255, 0.25);
  // box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  // backdrop-filter: blur(4px);
  // -webkit-backdrop-filter: blur(4px);
  // border: 1px solid rgba(255, 255, 255, 0.18);
  // position: fixed;
  // z-index: 2;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 10px;
  list-style: none;
  justify-content: center;
  align-items: center;
  width: 80%;
  li {
    // margin: 0 1rem;
    cursor: pointer;

    flex-direction: column;

    div {
      width: 100%;
      height: 1px;
      background: transparent;
      // border-radius: 50%;

      margin-bottom: 5px;
    }

    a {
      color: var(--dark);
      text-decoration: none;
      flex-direction: column;
      padding: 0.7rem 1rem;

      text-transform: uppercase;
      font-weight: 500;

      transition: all 0.3s ease-in-out;

      &:hover {
        color: var(--secondary-color);
      }
    }

    &:hover {
      div {
        background: var(--secondary-color);
      }
    }
  }

  @media screen and (max-width: 850px) {
    display: none;
  }
}

// .nav-links{
//   text-decoration: none;
//   color: #222;
//   font-size: 1.2rem;
//   font-weight: 600 ;

//   white-space: nowrap;

// }
.nav-links i {
  padding-right: 10px;
}

// .nav-links:hover{
//   background-color: #01959a;
//   color: #ffff;
//   border-radius: 4px;
//   transition: all 0.2s  ease-in-out;
// }
.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  img {
    width: 80px;
    background: transparent;

    @media screen and (min-width: 2000px) {
      width: 180px;
      // height: 40px;
    }
  }
}

.menu-icons {
  display: none;
}

@media screen and (max-width: 850px) {
  .app__navbar {
    z-index: 99;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(6, 6, 6, 0.85);
    width: 70%;
    height: auto;
    position: absolute;
    top: 0;
    right: -100%;
    opacity: 0;
    align-items: center;
    padding: 80px 0 30px 0;
    margin: 0;

    transition: 0.3s ease-in-out;
    border-radius: 16px;
  }
  .nav-menu.active {
    right: 0;
    opacity: 1;
    z-index: -1;
    transition: 0.3s ease-in-out;
  }

  // a {
  //   background: transparent;

  // }

  // svg {
  //   width: 35px;
  //   height: 35px;
  //   color: var(--secondary-color);
  //   margin: 0.5rem 1rem;
  // }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    justify-content: center;
    align-items: center;
    flex-direction: row;

    li {
      margin: 1rem;
      .nav-links {
        display: block;
        width: 100%;
        font-size: 1.2rem;
        padding: 0.5rem 0;
        background: transparent;
        display: flex;
        align-items: center;
        text-decoration: none;
        white-space: nowrap;

        color: var(--gray-color);
        text-decoration: none;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 500;
        display: flex;
        flex-direction: row;

        transition: all 0.3s ease-in-out;
        white-space: nowrap;
      }

      // div {
      //   width: 100%;
      //   height: 1px;
      //   background: transparent;
      //   // border-radius: 50%;

      //   margin-bottom: 5px;
      // }
      flex-direction: row;

      &:hover {
        color: var(--secondary-color);
      }
    }
  }

  .menu-icons {
    display: block;
    cursor: pointer;
  }

  .menu-icons {
    font-size: 1.2rem;
    color: #3e3d3d;
  }
}
