.AniDiv {
  width: 100%;
  margin-left: auto ;
  margin-right: auto;
  display: flex;
  justify-items: center;
  justify-content: center;
  text-align: center;
  overflow:hidden ;


  
  }
  
  
  // w-full mx-auto py-2 flex items-center justify-center text-center
  //   overflow-hidden dark:text-light sm:py-0